body{ margin: 0; padding: 0; font-family:"Times New Roman","DFKai-sb";}

.title{
    display:flex;
    justify-content:center;
    align-items: center;
    height:150px;
    background-color: steelblue;
}

.title-content{
    width:1000px;
    height:50px;
    font-size: 40px;
    text-align: center;

}

.signin{
    display:flex;
    justify-content:center;
    align-items: center;
    height:50px;
    margin-top: 30px;
}

.signin-content{
    width:1000px;
    font-size: 24px;
    text-align: center;
}

.signin-info{
    margin-top: 10px;
    width:1000px;
    font-size: 20px;
    text-align: center;
    line-height:35px;
}

.calculate{
    display:flex;
    justify-content:center;
    align-items: center;
    height:30px;
    margin-top: 100px;
}

.calculate_content{
    width:1000px;
    font-size: 24px;
    text-align: center;
}

.square{
    display:flex;
    justify-content:center;
    align-items: center;
    height:50px;
    font-size: 24px;
}